$primary: #0050A5;
$secondary: #3FA9F3;
$tertiary: #F3D502;
$quarternary: #FB1F23;
$light-blue: #E0EBF7;
$black: #000000;
$white: #ffffff;
$light: #F3F7FB;
$dark: #2D3844;
$grey: #d9d9d9;

$theme-colors: (
    ) !default;

$theme-colors: map-merge(("primary": $primary,
            "secondary": $secondary,
            "tertiary": $tertiary,
            "quarternary": $quarternary,
            "light-blue": $light-blue,
            "black": $black,
            "white": $white,
            "light": $light,
            "dark": $dark,
            "grey": $grey,
        ),
        $theme-colors
);

$font-sizes: (
    57: 57px,
    35: 35px,
    25: 25px,
    23: 23px,
    17: 17px,
    16: 16px
);

// Grid Breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1440px,
    xxl: 1748px,
    ) !default;

// Container sizing
$container-max-widths: (
    sm: 540px,
    md: 740px,
    lg: 1280px,
    xl: 1379px,
    xxl: 1380px,
    ) !default;

$spacer: 1rem !default;
$spacers: (
    ) !default;

$spacers: map-merge((0: 0,
            1: $spacer * 0.25,
            2: $spacer * 0.5,
            3: $spacer,
            4: $spacer * 1.5,
            5: $spacer * 3,
            6: $spacer * 4,
            7: $spacer * 5,
            8: $spacer * 6,
            9: $spacer * 7,
            10: $spacer * 10,
            11: $spacer * 11,
            12: $spacer * 12,
            13: $spacer * 13,
            14: $spacer * 14,
            15: $spacer * 15,
        ),
        $spacers
);

$border-radius: .25rem !default;
$border-radius-pill: 50rem !default;

$utilities: (
    ) !default;
$utilities: map-merge(("line-height":(property: line-height,
                class: lh,
                responsive: true,
                values: (1:1,
                    2:2,
                    "1_7": 1.7,
                    4:4,
                )),
            "rounded": (property: border-radius,
                class: rounded,
                responsive: true,
                values: (null: $border-radius,
                    0:0,
                    1:1px,
                    2:2px,
                    3:3px,
                    4:4px,
                    5:5px,
                    6:6px,
                    7:7px,
                    8:8px,
                    9:9px,
                    10:10px,
                    20:20px,
                    circle: 50%,
                    pill: $border-radius-pill )),
            "font-weight": (property: font-weight,
                class: fw,
                responsive: true,
                values: (100:100,
                    200:200,
                    300:300,
                    400:400,
                    500:500,
                    600:600,
                    700:700,
                    800:800,
                    900:900)),
            "letter-spacing": (property: letter-spacing,
                class: ls,
                values: (1: 0.01em,
                    "0_195": 0.195em))), $utilities
);